[2017-08-12 12:42] paulgb opened #1 "functionalclam.com removed from EasyList by GetAdmiral"
Commit:
https://github.com/easylist/easylist/commit/a4d380ad1a3b33a0fab679a1a8c5a791321622b3

DMCA Takedown:
https://github.com/github/dmca/blob/master/2017/2017-08-02-LevenLabs.md

[2017-08-12 13:02] #1 closed

[2017-08-12 15:12] alphapapa opened #3 "Thanks"
Thanks for taking a stand and pledging to fight the good fight.  We need more "Internet heroes" like you.

[2017-08-12 15:55] KeenRivals opened #4 "Add other domains owned by admiral?"
Many other domains were found that are owned by Admiral and point to the same IP as #1. There's a list at https://pgl.yoyo.org/adservers/admiral-domains.txt

[2017-08-12 16:11] paulgb commented on #4
Thanks for this! I'll have a look when I'm at a computer

On Aug 12, 2017 11:55 AM, "KeenRivals" <notifications@github.com> wrote:

[2017-08-12 16:31] tofof commented on #4
That list is woefully incomplete. See [my comment here](https://github.com/reek/anti-adblock-killer/pull/2502#issuecomment-277863986) for some analysis. Click the reverse-domain links I provide (e.g. [ipv4info for functionalclam.com](http://ipv4info.com/ip-address/sc98ee1/104.155.48.223.html/functionalclam.com/#_)) and you can see how deep this rabbit hole goes, and that's just for a single ip.

S

[2017-08-12 16:48] mvasilkov commented on #4
Let's kill the whole Admiral thing with fire!

[2017-08-12 16:57] migueldemoura opened #5 "Create a list instead of a full-blown extension"
Title pretty much sums it all - why an extension and not a list? You can advertise uBlock or any other blocker and provide instructions on how to add the list (a simple url like `abp:subscribe?location=` would suffice). This saves resources and follows DRY.

If you're worried about traction, you may ask for it to be included as one of uBlock's default lists. Either way, and given your target audie

[2017-08-12 18:19] collinbarrett commented on #5
Agreed. I would love a standard list version as well. I'd love to be able to include it over on [FilterLists](https://github.com/collinbarrett/FilterLists/issues/108). It's a great idea!

[2017-08-12 19:40] niladam commented on #5
I agree this is a better way. It'll allow for easier adoption and also easier maintenance.

[2017-08-12 19:43] jeroenhd opened #9 "Firefox version"
First of all, great work. You have implemented the extension I was thinking to make. Saves most of a lot of work!

As you might know, Firefox now also supports the use of the [WebExtensions](https://developer.mozilla.org/nl/Add-ons/WebExtensions) API. This means that this Chrome addon should be portable to Firefox without much effort. [In fact, I don't see any reasons why this extension wouldn't w

[2017-08-12 19:44] niladam commented on #3
That's my thought exactly. I'm sure you'll receive support from other people as well. Maybe EFF will also offer support.

[2017-08-12 19:56] Spacial commented on #3
kudos, count me in.

[2017-08-12 19:57] Spacial commented on #5
maybe a centralized list from/to pihole, ublock, umatrix, etc..?

[2017-08-12 20:07] migueldemoura commented on #5
Both uBlock and uMatrix support hosts-like filter lists. In the case of uBlock, `0.0.0.0 example.com` is translated to `||example.com^`. Other blockers should support these as well (and they would obviously work when appended to `/etc/hosts`).

[2017-08-12 20:36] paulgb commented on #4
I've merged #8 which adds more Admiral domains, if there are still some missing I'm happy to add them as they are discovered

[2017-08-12 20:38] Dynalon commented on #5
Far more sane to create a custom list that is hosted outside the US, where DMCA takedowns can safely be ignored. Users just can use existing adblock/ublock and add that list.

Hosting a new extension on github - which forwarded the DMCA takedown notice to the repository owner - is especially nonsense.

[2017-08-12 20:42] getaaron commented on #5
I agree with @Dynalon. I think it would be trivial to create a few automatic repo mirrors too.

[2017-08-12 20:47] paulgb commented on #9
Thanks! I've submitted the application for review and will update the status in this issue.

[2017-08-12 20:51] paulgb commented on #5
Thanks, I'll look into what format works. Do most ad blockers allow you to point them to a URL to periodically fetch the list from, so that it can update automatically? Or does it have to be submitted to an "app store" of sorts for each blocker?

The point here is to not cede territory here by switching to a technologically harder to block solution. What Admiral are doing is an abuse of the legal

[2017-08-12 20:52] paulgb commented on #3
Thanks for your support!

[2017-08-12 20:55] migueldemoura commented on #5
@paulgb, only a URL is needed. The blocker automatically fetches updates to the list and most also allow you to specify the update interval. For additional guidance, take a look at https://adblockplus.org/filters.

[2017-08-12 20:59] paulgb commented on #5
Oh great, that sounds very do-able. I'll set it up this weekend once I have
a chance.

On Sat, Aug 12, 2017 at 4:55 PM, Miguel de Moura <notifications@github.com>
wrote:

[2017-08-12 21:13] mirague commented on #4
I support adding all domains pointing to the same content - it's likely all these domains would eventually have found their way into EasyList in the first place. Might be less likely now.

[2017-08-12 21:30] tuespetre commented on #9
My first thought when I saw this was "WebExtensions?" so this is good to see. Instead of making a new issue I thought I would just comment here to thank you @paulgb!

[2017-08-12 22:11] JamyDev commented on #4
Maybe block that IP too in anticipation of more domains being added?

[2017-08-13 00:04] rctgamer3 commented on #9
Approved.

[2017-08-13 00:49] sangohan commented on #5
i think that has the bad side effect of not disputing invalid DMCA takedowns. Instead, we ought to be fighting these invalid DMCA takedowns, and increase the cost of making a false claim. In aggregate, it will make DMCA less abusable, but will require a tough fight. Making bad press for companies that make false claims won't hurt either.

Moving information to outside the US juristiction will only

[2017-08-13 01:00] getaaron commented on #5
I retract my previous opinion and agree with @paulgb and @sangohan.

[2017-08-13 02:42] tofof commented on #4
#8 is still not even close.

It has...
---
* Some but not all - e.g. breezybath.com - of the domains currently on [104.155.48.223](http://ipv4info.com/ip-address/sc98ee1/104.155.48.223.html) (the same ip that unknowntray.com is served from)
* Some but not all - e.g. axiomaticalley.com - of the domains currently at [146.148.6.205](http://ipv4info.com/ip-address/s1aa405/146.148.6.205.html)
* Some bu

[2017-08-13 03:03] rodalpho commented on #5
I just came here to suggest this. There's no reason to implement it as a whole new addon when all the adblocking extensions support standard lists.

[2017-08-13 03:50] slester commented on #9
A link for convenience: https://addons.mozilla.org/en-US/firefox/addon/barbblock/

[2017-08-13 04:09] seb-1204 commented on #5
I also came here to say I'd like to pull the list into my [Pi-hole](https://github.com/pi-hole/pi-hole) or [uBlock Origin](https://github.com/gorhill/uBlock).

[2017-08-13 09:36] aaron-em commented on #9
If you'd rather not install an extension just for this, you can subscribe your already installed adblocker to the filter list with [the raw URL](https://raw.githubusercontent.com/paulgb/BarbBlock/master/BarbBlock.txt). WFM in uBlock Origin, should work in Adblock Plus if anyone still uses that.

[2017-08-13 10:26] niladam commented on #5
Well, hosting it OUTSIDE US *TOO* sounds like a good idea. This way -- in case anything happens with the US/Git one -- you have a fallback to rely upon ?

[2017-08-13 12:14] Zhangsun321 commented on #5
agreed
make a list
lets see a simple way to track it... i can spam the hell out of it on reddit and twitter :)

[2017-08-13 12:33] #9 closed

[2017-08-13 13:07] collinbarrett commented on #5
For anyone who missed #10, there is now, at least temporarily, a subscription list for uBlock, Adblock Plus, etc. [here](https://github.com/paulgb/BarbBlock/blob/master/BarbBlock.txt).

[2017-08-13 13:38] finnoleary opened #11 "Redundancy"
It would be useful to have several other mirrors of BarbBlock that are upstream of this repo, to ensure a central source of truth in the future if Github decides to take this repository down.

Some alternative sites include gitlab.com and gitgud.io (Both allow you to mirror to Github, Bitbucket, et al. afaik). I understand the point of this is to challenge the DCMA, but while that challenge is in

[2017-08-13 14:21] paulgb commented on #5
@seb-1204 is this in the format you need? http://bblck.me/BarbBlock.txt

@niladam one of my goals here is to demonstrate that these takedowns are invalid and technology/jurisdiction workarounds are not necessary. *However*, an unfortunate part of the DMCA is that even if a valid counter-takedown is sent immediately after a takedown is enacted the repo could be taken out for 10-14 days even with an

[2017-08-13 14:28] paulgb commented on #9
I just created a better raw URL to use: `http://bblck.me/BarbBlock.txt`. It points to the same file, but is served through GitHub's CDN, and if a takedown happens I can point it at another server to avoid a prolonged service disruption.

[2017-08-13 14:31] migueldemoura commented on #5
@paulgb, I'd use the hosts format as seen at https://github.com/paulgb/BarbBlock/issues/5#issuecomment-322002902 (`0.0.0.0 example.com`)

[2017-08-13 14:37] josephcsible opened #12 "Secure URL for list"
The current URL provided for the list, http://bblck.me/BarbBlock.txt, is insecure. Can that domain be made secure, or the URL updated to one that is secure (currently, https://raw.githubusercontent.com/paulgb/BarbBlock/master/BarbBlock.txt seems to work)?

[2017-08-13 14:38] paulgb commented on #11
I have registered http://bblck.me which will provide some means of failover against a takedown. It won't be automatic, but will point it at another server to keep the blacklist text file working should a takedown occur. It could still be shut down by a court order but that's perfectly fine with me, I just want a workaround to the DMCA loophole where companies can censor projects for 10-14 days for

[2017-08-13 14:45] paulgb commented on #12
Ah bummer, I thought the CDN-serve HTTPS version of the site (on the github.io domain) would continue to work but it now redirects to the non-HTTPS custom domain.

I think the best way to do this is serve it through a CDN that supports HTTPS, I'll take a look

[2017-08-13 14:57] paulgb commented on #12
Done! https://ssl.bblck.me/BarbBlock.txt

I have updated README.md to reflect this as well.

[2017-08-13 14:57] #12 closed

[2017-08-13 15:01] paulgb commented on #5
Per #12 a better (HTTPS) URL for the list is `https://ssl.bblck.me/BarbBlock.txt`

@migueldemoura Great, I will produce one when I switch the individually-maintained lists into lists generated from a central file later today.

[2017-08-13 15:01] paulgb opened #13 "Generate hosts-file style list"
Per @migueldemoura's comment in #5

[2017-08-13 15:02] paulgb opened #14 "Generate blacklist files from central location"
Dedup the URLs from the existing lists and generate them centrally

[2017-08-13 16:52] paulgb opened #15 "Add link to install to ABP directly"
https://news.ycombinator.com/item?id=15000465

[2017-08-13 16:54] paulgb opened #16 "Verify that it works with ABP in Firefox"
https://news.ycombinator.com/reply?id=15001352&goto=item%3Fid%3D14997799%2315001352

[2017-08-13 18:59] alphapapa commented on #11
@paulgb gitgud.io appears to be run by sapphire.moe, which is run by two guys in the USA.  From reading their blog, their servers appear to be as well.

https://blog.sapphire.moe

[2017-08-13 19:59] lol768 commented on #4
@tofof Given the ones that I have seen seem to use valid SSL certs from Let's Encrypt, do you think crawling the CT logs is a viable way of checking for these?

[2017-08-13 20:07] zymase opened #17 "No issue, many thanks"
I've just added your [BarbBlock blocking filter list](https://ssl.bblck.me/BarbBlock.txt) to uBlock Origin.

Many thanks. Hoping the list is as complete as possible (I've seen several on the Web) and that it'll be updated if/when applicable.

[2017-08-13 20:32] devnoname120 opened #18 "Improve transparency"
This list is useful in my opinion, as it also acts as a hall of shame for legal intimidators.
Yet, I would like to be able to see which legal threat caused some domain to be added to the list, because it's both informative, and it makes sure that no domain is added here by mistake.

Would it be possible to add as a comment next to each domain entry a link pointing to the legal threat?

[2017-08-13 20:49] paulgb commented on #18
Thanks for the feedback, this is definitely something I want to do. I'm working on automatically generating the blacklists from one file, which includes metadata linking them back to the github issue, which will contain details on the takedown that initiated their addition.

[2017-08-13 20:50] paulgb commented on #17
Thanks @zymase! I certainly intend to try to keep it as current as possible.

[2017-08-13 21:31] gorhill opened #19 "Filter syntax could potentially cause false positives"
In your README file, you mention that the list can be used as a block list in other blockers:

Given the syntax you have used (`||example.com`), and the comment character used (`!`), I am going to assume you have in mind blockers such as ABP, uBO, AdGuard, etc.

However the syntax of the filters could lead to false positives. For instance, the first entry:

    ||functionalclam.com

This could cau

[2017-08-13 21:33] paulgb commented on #13
@migueldemoura how's this:

https://github.com/paulgb/BarbBlock/blob/master/blacklists/hosts-file.txt

[2017-08-13 21:34] migueldemoura commented on #19
Beat me to it. Absolutely correct

[2017-08-13 21:36] migueldemoura commented on #13
Not sure if there's an issue with using a tab instead of a space between the ip and hostname, might want to check that.

[2017-08-13 21:37] #16 closed

[2017-08-13 21:37] #14 closed

[2017-08-13 21:38] paulgb commented on #18
This is somewhat in place now, see https://github.com/paulgb/BarbBlock/blob/master/blacklist.json

[2017-08-13 21:46] paulgb commented on #19
Thanks, this is important to get right!

[2017-08-13 22:55] devnoname120 commented on #18
Great! Since this is meant to be maintained by hand, I suggest you to use a more human-friendly markup language such as YAML.

[2017-08-14 00:04] anon182739 commented on #4
What about doing it the other way around? As you said, it's trivial to verify a domain. What about checking all suspicious domains? If one is found, it's sent to some central server to be added to the list. Another way would be to just blacklist the IPs. This would have some false positives, but if it becomes a default filter for ublock/adblock it would have the effect of forcing them to clean up

[2017-08-14 00:17] anon182739 commented on #4
Also, playing cat-and-mouse with domains is not really a problem. It costs at least $1 to register one, and much less to find and block it.

[2017-08-14 09:18] paulgb commented on #13
I think tab is the most compatible, are you having problems with it parsing? May be the comment syntax if so

[2017-08-14 11:02] finnoleary commented on #11
I only really brought up gitgud.io because I had a flag set for "Does not respond to DCMA requests", but, double checking, I was incorrect about that. I'm sure there are foreign instances of git that will not, however.

[2017-08-14 15:03] zymase commented on #4
Reading @tofof I realize that indeed the BarbBlock, if it has the merit to exist, does not include and may never include should it be but a far more exhaustive list, for the sole reason that such a list seems to be a challenge.

Computing-fiction: what would be fantastic would be to have the ability to define a checksum of the famous landing-picture and block connections on that criteria (provided

[2017-08-14 15:16] paulgb commented on #4
Actually, @lol786's suggestion sounds like a great idea for keeping track of new registrations from this company. It could be automated as a nightly script.

[2017-08-14 15:22] zymase commented on #4
"_Seem_" ... if the result is equivalent to cutting a hand because of a whitlow, I'd be more than cautius with that very way of proceeding.

[2017-08-14 15:32] paulgb commented on #4
That's just a way of narrowing down the search space; we'd still verify that the domain behaved like the others.

I'd like to keep this to a pure domain blacklist, as opposed to running code on the client, for a few reasons: 1. it's more portable to existing blocking extensions, 2. it's more performant, and 3. I'm more comfortable with the legal defensibility (I am confident that a passive blackli

[2017-08-14 15:53] zymase commented on #4
Well, @paulgb you have the merit of having built and a centralized list (even if improvable), a place to discuss it and moreover an open-mind to carry on and develop the list. I do congratulate you for this initiative and for your work. I stay tuned of course and at this time and in order to avoid a chaotic result I stick on your list updated with all others included in my uBlock Origin settings,

[2017-08-14 17:30] uBlock-user commented on #17
I've also added your list to uBO. Thanks for standing up against this blatant abuse of DMCA. You have my support!

[2017-08-14 19:17] migueldemoura commented on #13
Not at all, it works fine. Feel free to merge it

[2017-08-14 20:35] anon182739 commented on #4
@zymase
You can just check the image dimensions, or the length of the body. This works for me:
`def isAdmiralDomain(domain):
    try:
        response = requests.get('https://' + domain)
    except:
        return False
    if len(response.text) == 179:
        return True
    else:
	return False`

Start of with the LE cert list. Filter away anything that doesn't end with .com, .xyz, or .pw. Issue

[2017-08-14 20:49] anon182739 commented on #4
GitHub stripped away the formatting, so you need to add some newlines and indentation.
The images are identical right now.
CRC32: 8db019c1
MD5: 681e062bb33b9ba28f3427e7283c81a8
SHA1: 3fcf7e14e92043a00926d340d45778b618bc87a9
SHA2: 32afacb9285649aa4af43ea03e7cd9a522aa3e6d0554a2dabe308fac4531be5f

[2017-08-14 21:09] zymase commented on #4
@anon182739 your first steps may be valuable for coders of which I am not unfortunately. I try to embrace the problematic conceptually but I'd be unable to translate an idea, a solution into code. At my little level a target is defined with a domain name and/or an IP but here we have hundreds, maybe thousands of domains all calling a same goddam static picture with a dynamic name. This is one scen

[2017-08-14 21:14] anon182739 commented on #4
Another identifying mark is the robots.txt, which is unlikely to change:
`User-agent: *
Disallow: /`

The 404 page seems nonstandard:
`404 page not found`
(it's not HTML)
`Content-Type:"text/plain; charset=utf-8"`

The registrar is enom for the .com domains and namecheap for the .xyz and .pw domains.

They all use the same 4 nameservers. You should be able to enumerate from that, it's an uncommon

[2017-08-14 21:19] anon182739 commented on #4
@zymase
You want to block the domain names. You can get a new IP for almost nothing, getting a new domain name costs some money. The picture's name changes, but the site's structure is the same.

[2017-08-14 21:21] anon182739 commented on #4
Also worth noting is that you can query however many admiral domains you want with Tor. If they start blocking IPs, then their ads won't work anymore.

[2017-08-14 21:41] zymase commented on #4
@anon182739 ,

That's not what I meant. Point is as everyone I can block domains, IPs, IP ranges but I don't understand -- coder or not -- what reference to consider in this scenario. It's not because I cannot understand that it means its not understandable of course. There's nothing but a picture, we all know it and I've repeated it at least a dozen times, and besides your picture size checking a

[2017-08-14 21:49] anon182739 commented on #4
@zymase
I don't understand what you're trying to say. You can look at a domain and see if it has that picture. If it does, it also has the script we want to block.

The domains don't resolve to the picture. The domains resolve to Google IPs, which then serve that picture. The domains all point to different IPs.

The purpose is to block the script they use, the easiest way to do this is to block th

[2017-08-14 22:00] tofof commented on #4
anon182739 wrote:

I wouldn't use such a filter. First of all, Admiral has at least one .us domain that I've already prominently mentioned in this thread; it's literally the first domain I name as 'missing'. Second, there's no reason to think they won't expand to other TLDs. Nine months ago, noone had spotted any .xyz Admiral domains - I doubt they were using them yet.

[2017-08-14 22:01] zymase commented on #4
@anon182739 the problem is not to know if a domain links to the picture, the problem is to now on what criteria build a list. we're not going yo analyze the whole web domain after domain to see the ones which point to that picture, right? So on what basis will the list be built other than adding the finds of participants : we're not in a hunt or a tombola, right? So on what criteria will this list

[2017-08-14 22:20] #5 closed

[2017-08-14 22:21] #19 closed

[2017-08-14 22:23] paulgb commented on #13
You can find the hosts file here: `https://ssl.bblck.me/blacklists/hosts-file.txt`

It will remain in sync with the list.

[2017-08-14 22:23] #13 closed

[2017-08-14 22:32] paulgb commented on #18
Good call, I like yaml. Done.

[2017-08-14 22:32] #18 closed

[2017-08-14 22:33] #15 closed

[2017-08-14 22:34] paulgb commented on #11
A user Gunnar is now hosting a mirror in Iceland: https://git.system.is/barbblock/BarbBlock

[2017-08-14 22:34] #11 closed

[2017-08-14 22:42] tofof commented on #4
@zymase
You've stated that you don't understand and are not a coder. It's acceptable to be interested, to use the emoji-response features, etc, but please don't clutter a single-issue thread with philosophical meanderings, well-wishings, tortuous analogies, and otherwise "laying the obvious," whatever that means.

To address your final point:
No, there is no reason to think that there must be a co

[2017-08-14 22:55] paulgb opened #20 "Generate extension from templates"

[2017-08-14 23:14] #20 closed

[2017-08-14 23:27] paulgb opened #21 "3 more admiral domains"
From http://ipv4info.com/ip-address/s43b0ac/35.186.249.84.html

    btez8.xyz
    j93557g.com
    awzbijw.com

[2017-08-14 23:30] #21 closed

[2017-08-14 23:36] paulgb commented on #4
@tofof Thanks for the analysis you've been doing, I have only been skimming this conversation while working on providing all the blacklist formats people want but now that that's done I want to take a real stab at automating some of this.

[2017-08-14 23:46] anon182739 commented on #4
@zymase

You can narrow it down enough so you don't need to check the entire web.
@tofof
What's wrong with scraping DNS/cert lists? They can easily make sure that 1 domain = 1 ip and avoid tainting each other, it's non-trivial to make it harder to verify the domains.
@paulgb
I'm already working on it, I've managed to hack together a python script that does the job. Should I post it here, or is 'se

[2017-08-14 23:50] anon182739 commented on #4
@zymase

You can narrow it down enough so you don't need to check the entire web.
@tofof
What's wrong with scraping DNS/cert lists? They can easily make sure that 1 domain = 1 ip and avoid tainting each other, it's non-trivial to make it harder to verify the domains.
@paulgb
I'm already working on it, I've managed to hack together a python script that does the job. Should I post it here, or is 'se

[2017-08-14 23:53] paulgb commented on #4
Great stuff, is this from the CT log or just from grabbing the IPs already found?

Let's keep the script apart from this, but if you're not a paying GitHub user I can create a private repo and add you to it so we can collaborate.

[2017-08-14 23:58] anon182739 commented on #4
This naming scheme is interesting.
If you visit any admiral domain (example: http://abandonedclover.com http://abruptroad.com) you get that image:
http://abandonedclover.com/6f044848f5e9030b6fd409a7e153defd6d8c4e58fb082a44da549ed3e421f9755aedb08132895be1e0d578e7
But each time you refresh the page, you get a new URL:
http://abandonedclover.com/f1e5b5d86bcceb851312e5cc5f7bce26bb10ab951c152cb63a50689

[2017-08-15 00:01] paulgb commented on #4
Sure, a PM works for me. My email is paulgb@gmail.com

Cheers.

[2017-08-15 00:06] anon182739 commented on #4
Oh, you can't send GitHub PMs anymore apparently.
Gmail filters any anonymous e-mail addresses since they're used for spam. If you already have github premium, it's probably easier to do it that way.

[2017-08-15 00:07] paulgb commented on #4
Ok, I created a repo.

[2017-08-15 00:11] anon182739 commented on #4
I can't see anything. Where do I get the notice?

[2017-08-15 00:15] paulgb commented on #4
Try this link: https://github.com/paulgb/iptool/invitations

[2017-08-15 00:26] anon182739 commented on #4
Thanks, it works now.

[2017-08-15 00:35] anon182739 commented on #4
There might be a point to running it without Tor, it's a bit finicky and seems to give some false negatives. This could be intentional, but I don't think so since I could get them with Tor on a second try. Some IPs gave really many domains, one or two were probably responsible for 70% of the domains.

[2017-08-15 00:52] anon182739 commented on #4
Interesting, shodan gives me IPs that don't have any domain names registered according to threatcrowd
https://pastebin.com/w3HZ4Ker
query: "X-Datacenter: Content-Length: 179 Date: Mon 2017"
Replace Mon by any other week day, it's just to split it up so it doesn't get past 2 pages which is the free account limit, you can also add month if you don't want to create account

[2017-08-15 00:58] tofof commented on #4
FFS.
No, that list is incomplete.
=================
It doesn't "turn-out" that it's done already. It turns out that people are willing to pass off trivially incomplete lists with claims of completeness that will be vacuously repeated to the detriment of any effort to build such a list.

It's missing tons of the ones I already pointed out.  It includes false positives, too, like its literal first l

[2017-08-15 01:01] tofof commented on #4
@anon182739

1) I never said a single thing against scraping cert lists, please take your fallacious statements elsewhere.
2) It is in fact trivial to make it harder to verify these domains, and I have already provided an example of two ways they could to do it **in this very thread**. Again, please peddle falsehoods elsewhere.

[2017-08-15 01:07] anon182739 commented on #4
@tofof
Rude.
owlsr.us
Honest mistake, it probably timed out because it **IS** in there, it was just marked as "not admiral" because the request timed out or something similar. Tor is somewhat finicky, but if you have a cleaner IP you can re-run the script (ask @paulgb to add you)

dead

roastedvoice.com

17ars.xyz
dead

lewdwind.com

b6227.xyz
dead

granodiorite.com

0d7dk.xyz
dead

pz37t.xyz
dead

[2017-08-15 01:12] anon182739 commented on #4
Checking who.is history (make sure to disable JS otherwise it fetches it again), you can see that the dead domains have expired. Except 17ars.xyz apparently, unless someone else registered it.

Isn't it a security risk to be loading random JS from domains that they're not taking very good care of? They're not attaching a hash from what I can see.

[2017-08-15 01:13] anon182739 commented on #4
Name
REACTIVATION PERIOD
Organization
NAMECHEAP
Address
11400 W. OLYMPIC BLVD, SUITE 200

Well, that explains that.

[2017-08-15 01:16] tofof commented on #4
@anon182739
My apologies. First, thank you for your work. Please forgive my outburst; literally the very first example I provided (one I know *is* live and *is* Admiral) was omitted. That, with the immediate appearance of so many more omissions, caused me to overstate things.

Given that you've verified that your tool has timed out on at least one positively-Admiral domain, can I ask what assuranc

[2017-08-15 01:21] anon182739 commented on #4
I'm sorry, I missed your reply on it. But what are your thoughts on it? You could dynamically add domains to the filter, so whenever a .us domain is spotted you add it to the filter. It would still be useful to narrow things down.

Harder? Yes. Hard? No. I used the wrong word there.

I missed them. But it's hard to obfuscate it indeterministically, they will still have some kind of recognizable pa

[2017-08-15 01:30] tofof commented on #4
@anon182739
I think that the idea of scraping cert lists is potentially clever. I see a few potential hurdles, however.
* Sheer volume of certs per day is large. Filters might help, but I think they're more likely to be more trouble than they're worth - if you fail to include e.g. .us and then at some future point find Admiral domains with that TLD, now you have to .. what, go back through the cer

[2017-08-15 01:35] anon182739 commented on #4
@tofof
None, except that Tor isn't that finicky. If you have a more reliable internet connection you can run the script. Security through obscurity is probably useless, it was just an instinctive reaction, https://pastebin.com/tsBH5s7A

Are you sure? I don't think that happened, but it's possible the API timeout saved me from it. In any case, you can use Tor stream isolation for each requests. If

[2017-08-15 01:40] tofof commented on #4
Regarding those googleusercontent.com lines - Yes, they serve up Admiral content right now, but that's just because Admiral is hosting on Google Cloud platforms. I maintain that they're false positives, at least until their use in the wild can be verified.

[Google+, AdWords, Google Fonts](https://en.wiki-domains.net/wiki/googleusercontent.com), and some [Google Translate content](https://news.yco

[2017-08-15 01:43] tofof commented on #4
@anon182739

I'm not 100%, in that I haven't verified that behavior this week. I make that claim from my experiences trying to pin down their bootstrapper 6 months ago, when that definitely was the case, and I was getting served explicit error messages stating that I was being deliberately blocked. It's possible that you have to be hitting the script file or something other than the landing image

[2017-08-15 01:51] anon182739 commented on #4
I checked. It was large, but not very large. 100k-200k a day, this is about 2 per second. Certainly manageable.

You only have to go back and re-check the ones with .us domains. You can check the registration date of the first ones spotted in the wild and go back from there.

You need to have a valid DNS entry for Let's Encrypt, it's all automated.

They still have to receive the HTTP request, so

[2017-08-15 01:56] anon182739 commented on #4
Also, the robots.txt will still be identifiable unless they want to get revealed by internet archive.

[2017-08-15 02:14] tofof commented on #4
That's interesting, I missed that earlier.

Yes, I distinctly remember that it blocked me from getting the scripts. I also remember it unsurprisingly caused some sort of failure to be able to load Admiral-protected content on affiliated sites. The first one lasted fewer than 10 minutes, another lasted at least 2 hours. No, I doubt it would have had any effect against traffic routed through (differ

[2017-08-15 02:19] tofof commented on #4
@anon182739

How so? A simple block-everything robots.txt is hardly unique to Admiral.

[2017-08-15 02:22] anon182739 commented on #4
So in other words, it increases on subsequent violations.

How does that work? If you block the servers, won't that have the same effect?

You're misunderstanding me. What if you run a script to make sure all Tor exit nodes and open proxies get blacklisted on purpose? It will decrease the appeal of Admiral if webmasters know that anyone using  a proxy/VPN can't read their site.

I tried to get ban

[2017-08-15 02:25] anon182739 commented on #4
`                                 Dload  Upload   Total   Spent    Left  Speed`
`  0     0    0     0    0     0      0      0 --:--:--  0:00:17 --:--:--     0curl: (52) Empty reply from server`
`  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current`

Are they already blacklisting, or is it just Tor?

[2017-08-15 02:36] tofof commented on #4
Ok, fair enough, as part of the rest of the pattern it's helpful.

I got it within a few dozen refreshes of the script at the time, probably within a 15-minute interval or so. Certainly nowhere near 100.

Yes, it does. If you outright blocked the Admiral servers, some Admiral-protected sites didn't serve any content; others still did. It depended on the bootstrapper that was used.

[2017-08-15 02:39] anon182739 commented on #4
Wild guess: they were banning VPN exit nodes left and right and decided to stop it

How many different bootstrapper scripts are there? What did you find out about them? What's the point in blocking the servers if that just kills the site too?

[2017-08-15 02:59] tofof commented on #4
I have no idea. I know Admiral offers several different tiers/configurations of services, perhaps they're related to those, but that's just speculation.

Nothing helpful that I can recall; the few notes I took during the poking I was doing mostly have to do with killing the inline script after it was loaded, rather than the bootstraper.

That's what caused me to quit working on this at the time.

[2017-08-15 03:01] anon182739 commented on #4
How do they inject the ads again? Could you just block the re-injected images or similar?

[2017-08-15 03:16] tofof commented on #4
I don't think Admiral directly injects ads except when it's configured to serve `less-intrusive' ones to replace the ads that it's protecting. All of my efforts were toward the script that takes over and blanks the page when it detects an adblocker.

I'd like to show you an example, but right now I'm actually having trouble getting Admiral to function, i.e. to actually annoy me with a popup and bl

[2017-08-15 03:20] anon182739 commented on #4
The scripts have some kind of optimization layer, do you know what it is? Pagespeed supposedly only removes whitespace and the usual, but it's a pagespeed URL.
https://js.intercomcdn.com/frame.3db8f7f5.js
`!function(e){function t(r){if(n[r])return n[r].exports;var o=n[r]={exports:{},id:r,loaded:!1};return e[r].call(o.exports,o,o.exports,t),o.loaded=!0,o.exports}var n={};return t.m=e,t.c=n,t.p="htt

[2017-08-15 03:30] tofof commented on #4
No, I don't know what it is, but working on reversing minified code is honestly way out of my specialty.

[2017-08-15 03:30] anon182739 commented on #4
https://wordpress.org/plugins/admiral-adblock-suite/
`public static function doesURIContainRandomFilename($uri, $seeds)`
Does what it says on the tin if you're interested.

[2017-08-15 03:55] anon182739 commented on #4
It also has other interesting stuff, gives away some information about how it's structured internally. owlsr.us is used as gateway, it might have been specially registered for that purpose.

Also, there are lots of API endpoints we can use to identify domains.
http://staging.owlsr.us/js?p=asd
http://owlsr.us/record

[2017-08-15 03:56] tofof commented on #4
@anon182739: thanks again for your script, it's very helpful. I've been playing with it for a bit now, and I notice a couple things.

Obvious statement: unfortunately, your script is limited by the threatcrowd data.
Less-obvious: there are domains that are Admiral that threatcrowd completely lacks.

For example:
https://otx.alienvault.com/indicator/hostname/2znp09oa.com shows profitrumor.com among

[2017-08-15 04:00] anon182739 commented on #4
Yes, it's a shame. What services are there to get all domains with a given nameserver? Because they all share the same 4 nameservers.

[2017-08-15 04:03] anon182739 commented on #4
https://otx.alienvault.com/otxapi/indicator/hostname/whois/2znp09oa.com Here, just parse this JSON and use as starting domains for the script, it doesn't matter that they're not in threatcrowd. (1 domain per line, no http before)

[2017-08-15 04:06] tofof commented on #4
Yeah, just was looking at that myself, looks like it's possible to at least walk that api's space as well.

[2017-08-15 04:50] anon182739 commented on #4
@tofof No need for walking, since you can do queries on DNS name servers.
`grep -P '"domain": "[^"]+' --only-matching | cut -c 12-`

[2017-08-15 05:23] anon182739 commented on #4
https://pastebin.com/CYvL1GyJ
20 more

[2017-08-15 05:32] anon182739 commented on #4
I strongly believe these ones are the only ones that are active in the wild:
https://pastebin.com/Bu2gFH9J
I ran script that created 600 accounts and got the script URLs, these are the only ones in the list. The least common one (jadeitite.com) is present 8 times, the most common one (82o9v830.com) is present 20 times.

[2017-08-15 08:19] hook54321a opened #22 "foamybox.com"
Another domain: foamybox.com

[2017-08-15 12:02] paulgb commented on #4
On thing on the topic of unminifying code, etc.: In order for this project to be bulletproof should it end up in court, I can't include any links obtained that way. Since a judge is unlikely to be technically adept enough to understand nuance in this area, I'd rather keep a good distance from anything that could be made to sound like reverse engineering to someone non-technical.

The network-based

[2017-08-15 15:34] anon182739 commented on #4
Clean room reverse engineering is legal. So by analogy, you should be able to share domains you got from observing the script's behavior, but not by reverse engineering them.

If you're worried about the legal aspects, keep in mind that the CFAA is very broad. Bulk registering accounts could be illegal in theory, depending on the definition of "authorization".
(a) Whoever—
(2) intentionally access

[2017-08-15 16:37] paulgb commented on #4
It's not just the CFAA that I want to steer clear from, it's also DMCA 1201 which was the basis of Admiral's takedown against EasyList.

In general I guess my stance is: given that there are many ways of obtaining the list, we should do it in the way that is least likely to be misunderstood by a judge.

[2017-08-15 17:50] anon182739 commented on #4
Are you worried about takedowns or legal responsibility?
If the former, use a git provider based outside of the US (bitbucket is australian, launchpad is british, osdn is japanese, ow2 consortium is french, self-hosted gitlab onion is in the jurisdiction of anonymous proxy)
If the latter, use a throwaway account and Tor

[2017-08-15 18:17] paulgb commented on #4
But that misses the goal of the project entirely! I'm not trying to evade any laws, quite the opposite. I'm trying to show that Admiral's interpretation of the law is incorrect, that it wouldn't hold up in court, and that they know that.

[2017-08-15 18:44] anon182739 commented on #4
If you're not violating any laws, avoiding takedowns is just a convenience thing. DMCA takedown notices are for copyright infringement, circumvention of technical protections as defined in 17 USC § 1201 isn't copyright infringement.

[2017-08-15 18:45] tofof commented on #4
I agree with @paulgb that Admiral's interpretation of the DMCA - that an item in a list constitutes a 'copyright circumvention mechanism' - is incorrect, and should be challenged. I understood that to be the primary reason for the creation of this project: to invite, challenge, and disprove this legal theory.

Expanding the list to include related Admiral domains that appear to function identicall

[2017-08-15 18:50] paulgb commented on #4
I agree with that interpretation @anon182739 but Admiral's stance is that it does and that's how we got here.

@tofof exactly

[2017-08-15 19:05] tofof commented on #4
On the topic of reversing minified code - as far as I understand, none of that has been done in generating any of the list to this point. The list and addendum that @anon182739 has linked to is built from walking the recorded observations on threatcrowd - starting from a known Admiral domain, examining what IPs it was hosted on and what other domains were hosted on those IPs, and recursing, then e

[2017-08-15 19:13] tofof commented on #4
[moved to its own post for clarity and importance]

At any rate, no knowlege nor use of Admiral's scripts were involved in creating the list and addendum thus far. In fact, I would say that the algorithm that produced the list and addendum thus far is superior in that respect to the unknown provenence of the items from pull request #8. I would actually recommend that @paulgb replace that list with

[2017-08-15 19:23] paulgb commented on #4
Yes, I would accept that PR. I suspect that most of the entries are
duplicates anyway and it would be good to have the record of provenance.

On Aug 15, 2017 3:13 PM, "tofof" <notifications@github.com> wrote:

[2017-08-15 21:15] anon182739 commented on #4
@tofof
No, the addendum (https://pastebin.com/CYvL1GyJ and https://pastebin.com/Bu2gFH9J) isn't from threatcrowd, it's from using a script to register accounts and get the script domain they use.

[2017-08-15 21:22] anon182739 commented on #4
That's true. I was linked here from elsewhere and didn't read the project goals. I'm mostly interested in the technical side of things and what actions give the end result of a more complete list.

[2017-08-16 05:23] anon182739 commented on #4
Is there any other place where admiral is being discussed? This seems to be the only active github issue about it, are there any active threads elsewhere?
https://github.com/anon182739/admiraljs - 206 admiral JS files from different domains, might be useful.  They're all identical save for the domain name referenced, so a regex should block them.

[2017-08-16 09:22] Vistaus commented on #17
Couldn't agree more! Many thanks for this list! :)

Also, I wanted to let you know that this list works in QupZilla as well. QupZilla has a built-in ad blocker and supports ABP filters, so clicking abp:subscribe?location=https://ssl.bblck.me/blacklists/adblock-plus.txt&title=BarbBlock is enough to make it work in QupZilla as well :)

[2017-08-16 09:38] fcntl commented on #3
mee2

[2017-08-16 09:41] fcntl opened #24 "What is difference between "blackslists" and urls in barbblock.js?"
Are the blacklists the urls removed from the respective blockers? Are they directly used in BarBock?

[2017-08-16 11:31] paulgb commented on #24
`blacklist.yaml` is the master domain list that is blacklisted across all blockers/browsers. The URLs in `barbblock.js` are generated from the master list, as are the domains in the blacklists. The difference between the blacklists is just the format that they use.

[2017-08-16 11:56] paulgb commented on #22
Thanks.

[2017-08-16 11:56] #22 closed

[2017-08-18 19:53] Lazza commented on #17
Could be a duplicate of #3. 😉 Thanks from me too!

[2017-08-19 01:12] srsgores opened #25 "List fails to download on AdBlock Plus"
On Adblock Plus for Chrome, I encounter the following error when trying to install barblock:

![image](https://user-images.githubusercontent.com/1750837/29482156-1f6f7ee6-8449-11e7-948c-8c88b072087d.png)

[2017-08-19 17:27] paulgb commented on #25
I can reproduce this. It looks like it's the `Redirect` header that's causing this to fail. ABP is actually requesting the right URL and getting the right response, but then it sees the redirect header and loads the file again, causing it to get into a redirect loop. After a few redirects it gives up.

This differs from the behavior described in the ABP filter docs [here](https://adblockplus.org/f

[2017-08-19 17:27] #25 closed

[2017-08-19 20:12] Gitoffthelawn opened #26 "Remove extra spaces in hosts file"
In order to facilitate merging with other hosts files, can you please remove the extra spaces in each line from
https://ssl.bblck.me/blacklists/hosts-file.txt

Thanks!

[2017-08-19 20:22] paulgb commented on #26
I can do that. Would a tab character work or is a single space character preferable?

[2017-08-19 20:37] Gitoffthelawn commented on #26
Thanks.  A single space is preferable.

[2017-08-19 20:39] Gitoffthelawn opened #27 "Contents of list"
I noticed that https://github.com/CHEF-KOCH/BarbBlock-filter-list currently includes more domains.

Is it just due to lack of free time on your end, or are there other reasons?

[2017-08-20 00:24] paulgb commented on #27
Yeah, it's a combination of both. My goal here is not to wage war on Admiral so much as to make a statement about DMCA misuse, so I'm not personally going to spend more time trying to add more sites. If people submit pull requests I will accept them if I can verify them. The caveat here is that I don't support people going out and potentially violating anyone's ToS to get domains (see discussion i

[2017-08-20 00:25] paulgb commented on #26
Done. Should be live within an hour or so.

[2017-08-20 00:25] #26 closed

[2017-08-20 01:55] Gitoffthelawn commented on #26
Thank you!

[2017-08-20 02:08] Gitoffthelawn commented on #27
I honestly haven't followed this whole deal (ordeal?) very closely.

I also haven't studied your list vs @CHEF-KOCH 's list to understand the differences.  I'll post an issue on his repo to let him explain.

What I want to see (and what I think many people may want to see) is simply a list of malware/ad/tracking hosts that were removed from (or not added to) prominent malware/ad/tracking lists.

[2017-08-20 14:27] paulgb commented on #27
Noted, thanks. The issue with admiral is that they only actually tried to have one domain removed that I know of, but since they have hundreds of domains it's easy for them to just work around that. So I've been open to adding other admiral domains as well. But if someone wants to actually comprehensively block them it's going to be an ongoing dedicated effort that is outside the scope of this pro

[2017-08-20 17:15] Gitoffthelawn commented on #27
Thanks. I think the general procedure most lists take is to be reactive instead of proactive.  IOW, instead of researching and listing every domain owned by CompanyXYZ, only domains actually used for malware/ads/tracking by that company are listed.  Your philosophy matches this standard quite well.

Although not perfect, this seems to work reasonably well.  And, of course, it's impossible to block

[2017-11-22 17:07] AdKiller commented on #17
same here, just wanted to thank you for standing up against the tyranny of big corporations.

[2018-01-02 21:26] AdKiller opened #28 "Is this project abandoned?"
I hope not... would appreciate any update regarding the status of this project.

Thank you

[2018-01-02 21:33] paulgb commented on #28
Hi, it's not abandoned, I just haven't been aware of any DMCA abuse targeting ad blockers after the initial one.

[2018-01-02 21:33] #28 closed

[2018-09-08 09:07] unicorntaco opened #29 "renewed kudos"
Thank you for your contribution to the **Human Rights** issue of Privacy defense.  This is an arms race those who would injure the naive for profit cannot win long term.  There are more **Privacy Evangelists** working philanthropically than there are vile merchants dishonestly offering a bundle of values as free.

:man_dancing:

[2018-09-08 09:17] unicorntaco commented on #4
Could not this higher level principle be applied:

This [_exceedingly_ eccentric blog](https://himself.wordpress.com/2016/12/25/merry-holy-christmas-the-end-of-third-party-interweb-ads-forever/) suggests corralling the evil via ASN blocking.  Guilt by association seems like a grand idea, but implementing it is not in my wheelhouse.

@tofof @paulgb @anon182739

[2018-12-12 02:17] TatharNuar opened #30 "Admiral domain: texturetrick.com"
`http://texturetrick.com/`

Found this Admiral domain while browsing https://www.comicsands.com/teens-pretending-lgbtq-scientific-surveys-2623048406.html?utm_content=inf_1123_3759_1&utm_source=twitter&utm_campaign=SAND&tse_id=INF_545f4d90fd9011e8b433ab68d22425b2 and blocked it.

[2018-12-12 02:19] TatharNuar commented on #30
I can't seem to add the Blacklist label to this issue.

[2018-12-12 13:00] paulgb commented on #30
Thanks, added.

[2018-12-12 13:00] #30 closed

[2019-02-23 14:14] TNW9imKLC3fv commented on #4
This was released on 2018-11-01 updated day after: https://github.com/jkrejcha/AdmiraList - but hasn't been updated since then.

(Using [NoScript](https://addons.mozilla.org/en-US/firefox/addon/noscript/), I saw Issu using a creepy-sounding domain 'shallowsmile.com' and found this thread)

[2019-04-10 22:11] anon182739 commented on #4
There is no need to block any ASNs. It is sufficient to register a few hundred accounts with fake information and see which domains are being offered.

[2019-05-27 00:56] tofof opened #31 "Many missing domains"
I've sniffed out another round of Admiral domains this evening.

All of the following Admiral domains are missing:
5mcwl.pw
acquireattention.com
acridtwist.com
afraidlanguage.com
ak0gsh40.com
aloofmetal.com
apathetictheory.com
aquaticowl.com
aromamirror.com
attractivecap.com
bawdypets.com
beamkite.com
bedsbreath.com
bewilderedblade.com
billowybead.com
blushingbeast.com
boilingumbrella.com
bravebon

[2019-05-27 03:06] tofof commented on #31
And from https://github.com/jkrejcha/AdmiraList we can get another 180.

abackchain.com
abandonedaction.com
abashedangle.com
aboardlevel.com
absentstream.com
absorbingband.com
absurdwater.com
actuallysnake.com
advertisementafterthought.com
agreeablestew.com
ambiguousquilt.com
archswimming.com
area51-ts.com
ariseboundary.com
automaticflock.com
barbarousnerve.com
basketballbelieve.com
batbuilding.co

[2019-06-03 10:36] #31 closed

[2019-12-08 18:26] DandelionSprout opened #33 "I've found something of interest"
Although the following is not formally a DMCA takedown, the E-mail threat that is listed in `https://github.com/mitchellkrogza/Phishing.Database/issues/15` is close enough to being a takedown that I think it would be something you could check out and consider adding to your lists nevertheless.

[2019-12-08 18:28] DandelionSprout commented on #33
Most bewilderingly of all, the takedown firm forced Mitchell Krog to take down ***fraudulent*** domains that weren't even owned by the firm's client in question... 😶

[2019-12-08 23:44] paulgb commented on #33
Thanks for pointing me to this. Did the (pesudo-)takedown result in any domains being owned by AXUR/Banco Safra to be removed from a blacklist? Given that, as you point out, the domains added to the whitelist are not actually owned by Safra, it wouldn't really make sense to add those domains to BarbBlock, but if they were asking for specific domains they *do* own to be removed, that could meet the

[2019-12-08 23:48] DandelionSprout commented on #33
It doesn't appear to me that the domains are actually owned by Safra, unfortunately enough. Although in my personal view, that only makes the takedown even more illegitimate.

[2019-12-08 23:55] llacb47 commented on #33
Related: https://github.com/NanoAdblocker/NanoFilters/commit/6c23eed2d2891fce48bb7dc8182b5fe394fbed44

[2019-12-09 00:10] DandelionSprout commented on #33
So in addition to the 4 domains in the takedown against Mitchell Krog, and 1 in the takedown against Nano Filters: If we presume that the same firm was also going ballistic over `LATAM` before, that would mean that the 6 entries with that phrase in https://github.com/mitchellkrogza/Phishing.Database/blob/master/whitelist.me/whitelist.me were also taken down by them.

That means we're up to 11 frau

[2019-12-09 00:46] DandelionSprout commented on #33
I also found this:
![image](https://user-images.githubusercontent.com/22780683/70399510-ff254980-1a24-11ea-9cd4-251cf0e794a9.png)

Apparently they had a GitHub user at some point earlier this year to try to issue takedowns, which apparently went so poorly that they deleted their account and all their issue reports after filing only 3 takedowns.

After some heavy Google searching, it was apparently

[2019-12-09 01:55] paulgb commented on #33
It looks like they are just sending removal requests to repo owners, rather than DMCA takedowns sent to GitHub? If so it's annoying, but it's more of a nuisance than an abuse of the system.

[2019-12-09 02:08] DandelionSprout commented on #33
Considering their use of `In order to avoid a lawsuit from a federal court, please, send confirmation that this email was received along with your guarantee to comply with the requests reported above.` in their default E-mail template, I for one would think it's no mere requests we're talking about here, although I am not a legal expert nor a lawyer.

[2019-12-09 06:28] DandelionSprout commented on #33
*Jspenguin2017* raised a good point in his thread in that some of the domains could be inactive. So I ran [PyFunceble](https://github.com/funilrys/PyFunceble) on them to see if they were still active, so now I'm down from 11-13 to 5-6 again. Namely the 4 from https://github.com/mitchellkrogza/Phishing.Database/issues/15 alongside `latam-pass.website` and arguably `latam.com-voucher-barato.com`.

[2020-08-14 19:36] IceCodeNew opened #34 "`ssl.bblck.me` is no longer having a valid DNS record."
`ssl.bblck.me` is no longer having a valid DNS record.

[2020-08-14 22:51] paulgb commented on #34
Thanks. The domain has expired. I've updated the instructions accordingly.

[2020-08-14 22:51] #34 closed

[2020-08-17 08:56] Gittyperson commented on #34
Could you please also update the extension links [here](https://paulgb.github.io/BarbBlock/install)? Thanks.

[2020-08-25 12:15] bug-rules commented on #34
Fixed.

uBO version also have latest:

`ubo:subscribe`/`ubo://subscribe` protocol with uBO `v1.16.X`+

So that the version list can not work badly with AdBlock / Adblock Plus in the feature.

[2020-08-29 14:55] jordanmills opened #36 "blacklist: new admiral domain cannotwin.com"
Is a DMCA takedown required for each domain, or just for bad actors who use it for any of their domains?

I'm not sure how to add a label.  Hopefully this works.

label:blacklist

[2020-08-31 11:34] paulgb commented on #36
I don't require a DMCA takedown for Admiral domains (given that their MO is quickly churning a lot of domains), although there may be lists that have done a better job of curating Admiral specifically -- the motive of this repo was to create a deterrent from DMCA abuse rather than covering Admiral in depth.

In this case, the domain cannotwin.com seems to be unregistered?

[2020-08-31 11:39] jordanmills commented on #36
After I posted this, I read down that rabbit hole.  I'm impressed at (and appreciate) the amount of work going into that.

Odd that it's not showing as registered.  It definitely came up as hosting a getadmiral script for me two days ago.  If it's gone, then that's another reason to disregard this issue.

Thanks for all the work.

[2020-08-31 11:39] #36 closed

[2020-08-31 11:44] paulgb commented on #36
Weird, maybe they let it expire.

[2021-08-16 19:32] 2brownc opened #37 "The domain "smilingwaves.com" is repeated two times in domain list file."
Domain name: ``smilingwaves.com`

is repeated two times in this file: https://paulgb.github.io/BarbBlock/blacklists/domain-list.txt

[2022-06-29 03:43] #37 closed